.row
  .small-10.columns
    %h2 Users
  .small-2.columns  
    =link_to("New User", new_user_path , class: "button right") if can? :create, User
.row
  .large-12.columns
    %table.table.table-condensed
      %thead
        %tr
          %th Username
          %th Email
          %th Registered
          %th Access
          %th Facilities
          %th
          %th
      %tbody
        - @users.each do |user|
          %tr
            %td= link_to(user.name, user) if can? :read, user
            %td= user.email
            %td= user.created_at.to_date
            %td= user.role_name
            %td
              %ul
                - user.facility_names.each do |name|
                  = content_tag(:li, name)
            %td= link_to("Edit", edit_user_path(user)) if can? :edit, user
            %td
              -if user.enabled
                = link_to("Disable", user_path(user), :data => { :confirm => "Disable User?" }, :method => :delete, :class => 'button alert') if can? :disable, user
              -else
                = link_to("Enable", enable_user_path(user), :data => { :confirm => "Enable User?" }, :method => :patch, :class => 'button') if can? :update, user
